[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Name=Tarock
Comment=Königrufen and Hungarian Tarokk with a learning mode
Icon=/usr/share/themes/base/meegotouch/icons/harbour-tarock-80.png
Exec=/opt/harbour-tarock/bin/harbour-tarock
Categories=Game;
X-Osso-Type=application/x-executable
