[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Name=Tarock
Comment=Königrufen and Hungarian Tarokk with a learning mode
Icon=/usr/share/icons/hicolor/80x80/apps/harbour-tarock.png
Exec=/opt/harbour-tarock/bin/harbour-tarock
Terminal=false
Categories=Game;
X-Osso-Type=application/x-executable
